.projects_container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projects_container .portfolio_item{
    width: 32%;
    margin-bottom: 50px;
    background: var(--color-bg-variant);
    padding:20px;
    border-radius: 20px;
    border: 1px solid transparent;
    transition: var(--transition);

}

.portfolio_item_img{
    border-radius: 15px;
    overflow: hidden;
}

.portfolio_item h3{
    margin:22px 0 35px;
}

.portfolio_item_btns{
    display: flex;
    gap: 20px;
    margin-bottom: 15px;

}